<!--div>This is a test!</div-->
<div class="spacer ocw-bc-lg ocw-ml-24neg ocw-pl-10 ocw-fw-500 ocw-mr-25neg ocw-pt-10 ocw-pb-10">Contact Info</div>
<div class="container flex-end" fxLayoutWrap>
  <div fxLayoutGap="50px" *ngIf="contactsForm" [formGroup]="contactsForm">
    <md-input-container *ngFor="let contact of contacts; let i = index" class="">
      <input mdInput placeholder="{{contact.placeHolder}}" [formControlName]="contact.fieldName" name="{{contact.fieldName}}" >
    <!--md-error *ngIf="contactsForm[i].hasError('pattern')">
        Please use valid format
    </md-error-->
    </md-input-container>
  </div>
  <div class="container" fxLayoutWrap>
    <button md-mini-fab color="primary" type="button">
          <md-icon class="md-24">add</md-icon>
        </button>
  </div> 
</div>  
<!--

            contact['fieldName'] = contactType.fieldName;
          contact['placeHolder'] = contactType.placeHolder;
    <md-input-container class="">
      <input mdInput type="tel" [textMask]="{mask: mask}"  placeholder="Home Phone" [formControl]="homePhoneControl" name="homePhone">
    </md-input-container>
    <md-input-container class="">
      <input mdInput type="tel" placeholder="Cell Phone" name="cellPhone">
    </md-input-container>
    <md-input-container class="">
      <input mdInput type="tel" placeholder="Business Phone" name="businessPhone">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Email Address" [formControl]="emailFormControl" spellcheck="false">
      <md-error *ngIf="emailFormControl.hasError('pattern')">
        Please enter a valid email address
      </md-error>
    </md-input-container>
  </div> -->

