<!--div>This is a test!</div-->
<div class="ocw-spacer ocw-gradient ocw-ml-24neg ocw-pl-10 ocw-fw-500 ocw-mr-25neg ocw-pt-10 ocw-pb-10">
  <div class="ocw-font-white">Contact Info</div>
</div>
<div class="container flex-end" fxLayoutWrap>
  <md-spinner class="" style="max-height: 62px; margin: auto" class="overlay" *ngIf="loading" ></md-spinner>
  <div fxLayoutGap="50px" *ngIf="contactsForm" [formGroup]="contactsForm">
    <md-input-container *ngFor="let contact of contacts; let i = index" class="">
      <div *ngIf="contact.isPhone">
        <input mdInput type="tel" [textMask]="{mask: mask}" placeholder="{{contact.placeHolder}}" [formControlName]="contact.fieldName" name="{{contact.fieldName}}" >
      </div>
      <div *ngIf="!contact.isPhone">
        <input mdInput placeholder="{{contact.placeHolder}}" [formControlName]="contact.fieldName" name="{{contact.fieldName}}" spellcheck="false" >
      </div>      
      <md-error *ngIf="fieldHasError(contact.fieldName)">
        Please use valid format
      </md-error>
    </md-input-container>
  </div>
  <div class="container" fxLayoutWrap>
    <button md-mini-fab color="primary" type="button" (click)="addContactType()">
          <md-icon class="md-24">add</md-icon>
    </button>
  </div> 
</div>  
