.flex-end {
    display: flex; 
    justify-content: space-between;
}

.container {
  flex-wrap: wrap;
}

.ocw-bc-lg { 
  background-color: whitesmoke;
}

.ocw-mw-159 {
  min-width: 159px;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.example-full-width {
  width: 100%;
}