<div fxLayout="row" class="container">
  <md-card>
	<md-card-title>
    	<div>Admin Option 1</div>
    </md-card-title>
    <div class="home"></div>
		<md-card-actions>
    	<button md-button color="primary" (click)="select();">Select</button>
    </md-card-actions>
  </md-card>
  <md-card>
    <md-card-title>
    	<div>Admin Option 2</div>
    </md-card-title>
    <div class="home"></div>
		<md-card-actions>
    	<button md-button color="primary" (click)="select();">Select</button>
    </md-card-actions>
  </md-card>
</div>