<md-tab-group>
  <md-tab label="Name/Address">
    <md-card>
      <app-name-address [constituent]="constituent" [domains]="domain$ | async"></app-name-address>
    </md-card>
  </md-tab>
  <md-tab label="Demographics">
    <!--md-card>
      <h1>Some tab content</h1>
      <p>...</p>
    </md-card-->
  </md-tab>
  <md-tab label="Status">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
  <md-tab label="HOW">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
  <md-tab label="NAPIS">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>  
  <md-tab label="Cases/Services">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
</md-tab-group>
<md-card>
  <button type="button" color="primary" md-raised-button (click)="saveConstituent()">Save</button>
</md-card>
