
  <md-card>
    <form class="example-form">
      <div fxLayout="column" fxLayoutWrap >
        <div fxLayoutGap="50px">
          <md-input-container class="">
            <input mdInput placeholder="Last name" value="{{constituent?.lastName}}">
          </md-input-container>
          <md-input-container class="">
            <input mdInput placeholder="First name" value="{{constituent?.firstName}}">
          </md-input-container>
          <md-input-container class="">
            <input mdInput placeholder="Middle name" value="{{constituent?.middleName}}">
          </md-input-container>
          <md-input-container class="">
            <input mdInput placeholder="Nickname" value="{{constituent?.nickName}}">
          </md-input-container>
        </div> 
      </div>
      <!--div class="container" fxLayoutWrap fxLayoutGap="50px">
        <md-input-container class="">
          <input mdInput placeholder="Title" value="{{constituent?.middleName}}">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Suffix" value="{{constituent?.nickName}}">
        </md-input-container>
      </div-->      
    </form>
  </md-card>
  <div class="spacer"></div>
  <md-card>
    <form class="example-form">
      <div class="container" fxLayoutWrap fxLayoutGap="50px">
        <md-input-container class="">
          <input mdInput placeholder="Title" value="{{constituent?.middleName}}">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Suffix" value="{{constituent?.nickName}}">
        </md-input-container>
      </div>      
    </form>
  </md-card>
  <div class="spacer">Address</div>
  <md-card>
    <form class="example-form">
      <div class="container" fxLayoutWrap fxLayoutGap="50px">
        <md-input-container class="">
          <input mdInput placeholder="Address 1" value="{{constituent?.address1}}">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Address 2" value="{{constituent?.address2}}">
        </md-input-container>
      </div>      
    </form>
  </md-card>

