<md-card>
  <form class="example-form">
    <div class="ocw-mt-25neg ocw-bc-lg ocw-ml-24neg ocw-mb-15 ocw-pl-10 ocw-fw-500 ocw-mr-25neg ocw-pt-10 ocw-pb-10">Constituent Information</div>
    <div fxLayout="column" fxLayoutWrap>
      <div fxLayoutGap="50px" *ngIf="constituent">
        <md-input-container class="">
          <input mdInput placeholder="Last Name" [(ngModel)]="constituent.lastName" name="lastName" required>
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="First Name" [(ngModel)]="constituent.firstName" name="firstName" required>
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Federal Id" [(ngModel)]="constituent.federalId" name="federalId">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Middle Name" [(ngModel)]="constituent.middleName" name="middleName">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Nickname" [(ngModel)]="constituent.nickName" name="nickName">
        </md-input-container>
        <md-input-container class="">
          <input mdInput placeholder="Maiden Name" [(ngModel)]="constituent.maidenName" name="maidenName">
        </md-input-container>
      </div>
    </div>
    <div class="ocw-mt-10"></div>
    <div fxLayout="column" fxLayoutWrap>
      <div fxLayoutGap="25px" *ngIf="constituent">
      <md-input-container>
        <input type="text" placeholder="Title" mdInput [formControl]="titleControl" [mdAutocomplete]="autoTitle">
      </md-input-container>
      <md-autocomplete #autoTitle="mdAutocomplete" [displayWith]="displayTitle">
        <md-option *ngFor="let option of filteredTitles | async" [value]="option">
          {{ option.titleText }}
        </md-option>
      </md-autocomplete>
      <md-input-container>
        <input type="text" placeholder="Suffix" mdInput [formControl]="suffixControl" [mdAutocomplete]="autoSuffix">
      </md-input-container>
      <md-autocomplete #autoSuffix="mdAutocomplete" [displayWith]="displaySuffix">
        <md-option *ngFor="let option of filteredSuffixes | async" [value]="option">
          {{ option.suffixText }}
        </md-option>
      </md-autocomplete>
      </div>
    </div>
    <div class="spacer ocw-bc-lg ocw-ml-24neg ocw-pl-10 ocw-fw-500 ocw-mr-25neg ocw-pt-10 ocw-pb-10">Address</div>
    <div class="container" *ngIf="constituent" fxLayoutWrap fxLayoutGap="50px">
      <md-input-container class="">
        <input mdInput placeholder="Address 1" [(ngModel)]="constituent.address1" name="address1">
      </md-input-container>
      <md-input-container class="">
        <input mdInput placeholder="Address 2" [(ngModel)]="constituent.address2" name="address2">
      </md-input-container>
      <md-input-container>
        <input type="text" placeholder="City" mdInput [formControl]="myControl" [mdAutocomplete]="autoCity" [(ngModel)]="constituent.cityName">
      </md-input-container>
      <md-autocomplete #autoCity="mdAutocomplete" [displayWith]="displayCity">
        <md-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.cityName }}
        </md-option>
      </md-autocomplete>

    </div>
  </form>
</md-card>
