.dashboard-tabs {
    justify-content: center;
}

.dashboard-tab {
  font-size: 14pt;
}

.dashboard-content {
  max-width: 1080px;
}

.material-icons {
  color: darkgray;
}

.mdl-navigation__link {
  padding-left: 4px;
}

.mat-icon {
  height: 18px;
  width: 18px;
  font-size: 18px;
}

.header-image{
   background: url('../../assets/images/mountains.jpg') 100% 100% no-repeat;
   background-size:  cover;
}