<md-toolbar color="primary">
  <span>OpenCaseWork</span>
  <!-- This fills the remaining space of the current row -->
  
  <span class="fill-remaining-space"></span>
  <span>Hello, Keith!</span>

  <button md-icon-button [mdMenuTriggerFor]="userMenu" aria-label="Open basic menu">
    <md-icon>more_vert</md-icon>    
  </button>

  <md-menu #userMenu="mdMenu" xPosition="before" yPosition="below">
    <button md-menu-item (click)="logout()"><md-icon>exit_to_app</md-icon>Logout</button>
    <button md-menu-item>Profile</button>
  </md-menu>
</md-toolbar>

<!--md-toolbar color="accent">
  <span>NSSC: {{title}}</span>
</md-toolbar-->

<md-toolbar>
  <button class="mat-button" [mdMenuTriggerFor]="appMenu2">
    <span class="mat-button-wrapper">Constituents</span>
  </button>

  <md-menu #appMenu2="mdMenu" [overlapTrigger]="false">
    <button md-menu-item><md-icon>search</md-icon>Search</button>
    <button md-menu-item (click)="newConstituent()"><md-icon>add</md-icon>New</button>
  </md-menu>
</md-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
