<div fxLayout="row" class="background">
  <div class="full-screen">
    <div class="max-width aligner">
      <md-card class="card-5">
        <md-card-title class="login-text">
          <h2>OpenCaseWork</h2>
        </md-card-title>
        <md-card-subtitle class="font-20">Secure Sign In
          <md-icon class="secure">lock</md-icon>
        </md-card-subtitle>
        <md-card-content>
          <div class="login-text">
            <md-input-container class="full-width">
              <input type="text" [(ngModel)]="username" mdInput placeholder="Username" id="username" required>
            </md-input-container>
          </div>
          <div class="login-text">
            <md-input-container class="full-width">
              <input type="password" [(ngModel)]="password" mdInput placeholder="Password" id="password" required>
            </md-input-container>
          </div>
        </md-card-content>
        <md-card-actions>
          <button md-button color="primary" (click)="login();">Sign In</button>
          <button md-button color="primary" (click)="login();">Forgot Password<md-icon class="help">help</md-icon></button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>