<md-spinner class="overlay" *ngIf="isLoading()" ></md-spinner>
<md-tab-group>
  <md-tab label="Name/Address">
    <md-spinner class="overlay" *ngIf="isLoading()" ></md-spinner>
    <md-card *ngIf="!isLoading()">
      <ocw-name-address [constituent]="constituent$ | async" [domains]="domain$ | async"></ocw-name-address>
       
    </md-card>
  </md-tab>
  <md-tab label="Demographics">
    <md-card>
      <ocw-demographics [constituent]="constituent$ | async" [domains]="domain$ | async"></ocw-demographics>
    </md-card>
  </md-tab>
  <md-tab label="Programs">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
  <md-tab label="HOW">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
  <md-tab label="NAPIS">
    <md-card>
      <ocw-napis [constituent]="constituent$ | async" [domains]="domain$ | async"></ocw-napis>
    </md-card>
  </md-tab>  
  <md-tab label="Cases/Services">
    <md-card>
      <h1>Some more tab content</h1>
      <p>...</p>
    </md-card>
  </md-tab>
</md-tab-group>
<md-card>
  <button type="button" color="primary" md-raised-button (click)="saveConstituentAggregate()">Save</button>
</md-card>
