<md-card class="md-elevation-z10">
  <md-card-title>Constituent Search</md-card-title>
  <md-card-subtitle class="font-20">Search Criteria</md-card-subtitle>
  <md-card-content>
    <div>
      <md-input-container class="full-width">
        <input type="text" [(ngModel)]="lastname" mdInput placeholder="Last Name" id="LastName">
      </md-input-container>
    </div>
    <div>
      <md-input-container class="full-width">
        <input type="text" [(ngModel)]="firstname" mdInput placeholder="First Name" id="FirstName">
      </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button color="primary" (click)="search();">Search</button>
  </md-card-actions>
</md-card>
<app-constituent-search-table></app-constituent-search-table>
<div><br></div>
<div>
  <button type="button" color="primary" md-raised-button (click)="select()">OK</button>
  <button type="button" color="primary" md-button (click)="cancel();">Cancel</button>
</div>