.table-container {
  display: flex;
  flex-direction: column;
  /*min-width: 700px;*/
}

.cdk-column-checkbox {
  width: 24px;
}

.cdk-column-Id {
  width: 20px !important;
}

.cdk-column-LastName {
  width: 200px;
}

.cdk-column-FirstName {
  width: 125px;
}

.cdk-column-Address {
  width: 300px;
}

.cdk-column-Phone {
  width: 100px;
}

.cdk-column-BirthDate {
  width: 70px;
}


@media (max-width: 960px) {
  .cdk-column-Address {
    display: none !important;
  }
  .cdk-column-Phone {
    display: none !important;
  }
  .cdk-column-ECCPIS {
    display: none !important;
  }
}

@media (max-width: 720px) {
  .cdk-column-BirthDate {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .cdk-column-City {
    display: none !important;
  }
}

  